<div class="full-bgd h-100vh">
</div>

<div class="f-h-wrapper" fxLayout="row wrap" fxLayoutAlign="center center">
  <div fxFlex="100" class="t-center m-t-10" [ngClass.gt-md]="'m-t-40'">
    <img src="../../assets/img/orf.png" class="orf m-b-20" [ngClass.lt-md]="'img-small'" alt="Ostróda Reggae Festival logo">
  </div>

  <mat-card class="register-box m-b-40 p-t-50 p-b-50 t-center" fxFlex.xs="80" fxFlex="70" fxFlex.md="50" fxFlex.gt-md="35">
    <h4>Dziękujemy za rejestrację <br>
      <small>Thank You for sign up</small>
    </h4>
    <img class="m-t-30 m-b-30" src="../../assets/img/user.svg" alt="Network">
    <h4>Otrzymasz maila, kiedy Twoje konto zostanie aktywowane <br>
      <small>You will receive an email when we activate your account</small>
    </h4>
  </mat-card>
</div>