img.orf {
  width: 300px;
}

img.orf.img-small {
  width: 180px;
}

.applicant-type {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #e6e6e6;
  padding-top: 15px;
  transition: ease-in 0.2s;
  cursor: pointer;
  opacity: 0.8;
  img {
    width: 40%;
  }
}

.applicant-type:hover {
  opacity: 1;
  transition: ease-out 0.2s;
  background: rgba(230, 230, 230, 0.5);
  border-color: rgba(230, 230, 230, 0.5);
}

.applicant-type.selected {
  border-color: #0976dc;
  color: #0976dc;
  opacity: 1;
}